.btn, .navbar .navbar-nav>a.btn {
    font-size: 15px; 
}
.sidebar .nav i, .off-canvas-sidebar .nav i {
    color: black !important;
}

.btn:hover, .btn:focus, .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active:focus, .btn:not(:disabled):not(.disabled).active:focus, .btn:active:hover, .btn.active:hover, .show>.btn.dropdown-toggle, .show>.btn.dropdown-toggle:focus, .show>.btn.dropdown-toggle:hover, .navbar .navbar-nav>a.btn:hover, .navbar .navbar-nav>a.btn:focus, .navbar .navbar-nav>a.btn:not(:disabled):not(.disabled):active, .navbar .navbar-nav>a.btn:not(:disabled):not(.disabled).active, .navbar .navbar-nav>a.btn:not(:disabled):not(.disabled):active:focus, .navbar .navbar-nav>a.btn:not(:disabled):not(.disabled).active:focus, .navbar .navbar-nav>a.btn:active:hover, .navbar .navbar-nav>a.btn.active:hover, .show>.navbar .navbar-nav>a.btn.dropdown-toggle, .show>.navbar .navbar-nav>a.btn.dropdown-toggle:focus, .show>.navbar .navbar-nav>a.btn.dropdown-toggle:hover {
    background-color: #e62e2d;
    color: black;
    box-shadow: none;
    border-color: white;
}

.card .card-header {
    padding: 0px;
}

.btn:hover{
    box-shadow: none !important;
}