
.vs/CRMWebApi/v15/Server/sqlite3/storage.ide-wal
.vs/CRMWebApi/v15/Server/sqlite3/storage.ide-shm
.vs/CRMWebApi/v15/Server/sqlite3/storage.ide
CRMWebApi/bin/NashWebApi.dll
CRMWebApi/bin/NashWebApi.pdb
.vs/CRMWebApi/v15/.suo
.vs/CRMWebApi/v15/Server/sqlite3/storage.ide
.vs/CRMWebApi/v15/Server/sqlite3/storage.ide-shm
.vs/CRMWebApi/v15/Server/sqlite3/storage.ide-wal
